.interests-wrapper {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(100, 98, 98, 0.4);
    text-align: center;
}

.chart {
    padding: 20%;
}