.projects-list {
    background: transparent;
}

.ui.inverted.menu {
    background: transparent;
    margin-bottom: 0;
}

.projects {
    background: transparent;
}

.ui.bottom.attached.segment.active.tab {
    background: transparent;
    border: 0;
}

.table {
    /* border-left: 1px solid; */
    border-color: grey;
}
.table tr {
    border-top: 0;
    /* border-color: grey; */
    text-align: center;
}
.table th {
    border-top: 0;
    border-color: grey;
    text-align: center;
}
.table td {
    font-size: 12px;
    border-top: 1px solid;
    border-color: rgba(100, 98, 98, 0.5);
    border-color: grey;
    text-align: center;
}

.table-head {
    border-top: 0;
    text-align: center;
    color: #3DC4D8;
}

.table-corp {
    text-align: center;
}

.project-pres {
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(100, 98, 98, 0.4);
    font-size: 12px;
}
.project-pres-bottom {
    font-size: 12px;
    padding-top: 15px;
    padding-right: 15px;
}

.project-link {
    font-size: 14px;
}

.project-wrapper {
    padding:15px;
}
